<% layout('boilerplate') %>


<div class="container">

    <h2 class="text-center">All Courses</h2>
    <hr />

    <% for (var i = 0; i < courses.length; i++) { %>
    <div class="col-md-4">

        <a href="/courses/<%= courses[i]._id %>" style="text-decoration: none; color: #34495e">
            <div class="panel panel-default">

                <div class="panel-body" style="border:0px;height:250px;overflow-y:auto">
                    <h3><%= courses[i].title %></h3>
                    <p><%= courses[i].desc %></p>
                </div>

            </div>
        </a>
    </div>
    <% } %>

</div>