<% layout('boilerplate') %>

<div class="jumbotron">
    <div class="container">
        <a href="/create-course" class="btn btn-primary btn-lg"><%= course.title %></a>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="/payment" method="POST">
                    <input type="hidden" name="courseId" value="<%= course.Id %>" />
                    <script src="http://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_fGSsws83yHEyBFNKLKqIYxxM" data-amount="<%= course.price %>"
                        data-name="Stripe.com" data-description="Widget" data-image="" data-locale="auto">
                        </script>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h2>Description:</h2>
            <%= course.desc %>
        </div>
        <div class="col-lg-5">
            <h2>Enrolled Students:</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Students
                </div>
                <div class="panel-body">
                    <% if(course.ownByStudent.length == 0 ){ %>
                    <p>0</p>
                    <% } else { %>
                    <% for ( var i = 0 ; i< course.ownByStudent.length ; i++) { %>
                    <div class="col-xs-2">
                        <img src="<% course.ownByStudent[i].user.profile.picture %>" alt="">
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>