<% layout('boilerplate') %>
<div class="container">
    <div id="wistia_<%= course.wistiaId %>" class="wistia_embed" style="width:640px;height:360px;"
        data-video-width="640" data-video-height="360">&nbsp;</div>
    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/playlist-v1.js"></script>
    <script>
        wistiaPlaylist = Wistia.playlist("<%= course.wistiaId %>", {
            version: "v1",
            theme: "tab",
            videoOptions: {
                volumeControl: true,
                playerColor: "54bbff",
                autoPlay: true,
                videoWidth: "640",
                videoHeight: "360",
                inlineOptionsOnly: true,
                version: "v1"
            },
            videoFoam: "false",
            media_0_0: {
                autoPlay: false,
                controlsVisibleOnLoad: false
            },
            plugin: {
                "requireEmail-v1": {
                    topText: "Enter your email address\nto view this video."
                }
            }
        });
    </script>
</div>