<!doctype html>
<html lang="en">

    <head>
        <% include ./partials/head %>
    </head>

    <body>
        <% include ./partials/navbar %>


        <%- body -%>


        <% include ./partials/footer %>
    </body>
    <% include ./partials/javascript %>

</html>