<% layout('boilerplate') %>

<div class="bg">

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h1 class="display-1">Create Course</h1>
            <form action="" role="form" method="post">
                <div class="form-group">
                    <label for="name" class="lead">Title:</label>
                    <input class="form-control" type="text" name="title" id="">
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>