<% layout('boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h1 class="display-1">Edit Course</h1>
            <form action="" role="form" method="post">
                <div class="form-group">
                    <label for="name" class="lead">Title:</label>
                    <input class="form-control" type="text" name="title" placeholder="<%= course.title %>">
                </div>

                <div class="form-group">
                    <label for="name" class="lead">Price:</label>
                    <input class="form-control" type="text" name="price" placeholder="<%= course.price %>">
                </div>

                <div class="form-group">
                    <label for="name" class="lead">Description:</label>
                    <input class="form-control" type="text" name="desc" placeholder="<%= course.desc %>">
                </div>

                <div class="form-group">
                    <label for="name" class="lead">Wistia Id:</label>
                    <input class="form-control" type="text" name="wistiaId" id="wistiaId"
                        placeholder="<%= course.wistiaId %>">
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>