<% layout('boilerplate') %>

<div class="jumbotron">
    <div class="container">
        <a href="/create-course" class="btn btn-primary btn-lg">Create a new Course</a>
    </div>
</div>

<div class="container">

    <h2 class="text-center">Courses that you teach</h2>
    <hr />

    <% for (var i = 0; i < foundUser.coursesTeach.length; i++) { %>
    <div class="col-md-4">

        <a href="/courses/<%= foundUser.coursesTeach[i].course._id %>" style="text-decoration: none; color: #34495e">
            <div class="panel panel-default">

                <div class="panel-body" style="border:0px;height:250px;overflow-y:auto">
                    <h3><%= foundUser.coursesTeach[i].course.title %></h3>
                    <p><%= foundUser.coursesTeach[i].course.desc %></p>
                    <a href="/edit-course/<%= foundUser.coursesTeach[i].course._id %>" class="btn btn-default">Edit
                        course</a>
                </div>

            </div>
        </a>
    </div>
    <% } %>

</div>