<% layout('boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h2>Login with Facebook</h2>
            <hr />

            <a class="btn btn-block btn-social btn-facebook btn-lg" href='/auth/facebook'>
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </a>

        </div>
    </div>
</div>